/* Checkout */

.checkout-container input.form-control, .checkout-container textarea.form-control {
    font-size: 14px;
}

.menu img.logo {
    height: 60px;
}

/* Order summary */

.checkout-order-summary a.card-header {
    text-decoration: none;
    color: #000;
}

.order-summary-badge {
    padding: 0.5em;
    border-radius: 1000px;
    font-size: 12px;
    line-height: 10px;
    width: 22px;
    height: 22px;
    text-align: center;
    margin: 0;
    background: #ee4d2d;
    color: #ffffff;
}

/* Contact information */

.intl-tel-input {
    display: table-cell;
    width: 100%;
    display: block;
}

.intl-tel-input .flag-container {
    right: auto;
    left: 0;
}

.intl-tel-input .selected-flag {
    z-index: 4;
    padding-left: 17px !important;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-radius: 4px;
}

.input-group .intl-tel-input input#intlTelPhone {
    padding-left: 48px;
}

/* Delivery Rates & Payment Options */

.delivery-rates-list li.list-group-item, .payment-options-list li.list-group-item {
    border: 0;
    border-bottom: 1px solid #f1f1f1;
}

.delivery-rates-list li.list-group-item:last-child, .payment-options-list li.list-group-item:last-child {
    border-bottom: 0;
}

.delivery-rates-list li.list-group-item:hover, .payment-options-list li.list-group-item label:hover {
    cursor: pointer;
}

.delivery-rates-list h3 {
    font-size: 16px;
}

.payment-options-list h3 {
    font-size: 14px;
}

.delivery-rates-list p {
    font-size: 14px;
}

.delivery-rates-list hr, .payment-options-list hr {
    background-color: #f1f1f1 !important;
}

.delivery-rates-list .form-check-input {
    width: 21px;
    height: 21px;
}

.payment-options-list .form-check-input {
    width: 1em;
    height: 1em;
}

.delivery-rates-list .form-check-input:checked, .payment-options-list .form-check-input:checked {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
}

.delivery-rates-list .form-check-input:focus, .payment-options-list .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
}

/* Pay now section */

button.btn.btn-cta.btn-primary {
    background-color: #e84c4f;
    color: #fff;
    border-color: #e84c4f;
}

/* Thank you page */

section.thank-you {
    padding: 133px 47px 124px 43px;
    background-color: #fff;
}

section.thank-you img {
    height: 332px;
}

section.thank-you h2 {
    margin-top: 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.24px;
    color: #3e4462;
}

section.thank-you p {
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #7e7e7e;
}

section.thank-you a {
    padding: 16px 36px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #fff;
    background-color: #27ae60;
    border-radius: 4px;
}

/* End of Thank you page */

/* Mobile css */

@media (min-width: 576px) {

    .checkout-order-summary .collapse {
        display: block;
        height: auto !important;
        visibility: visible;
    }

    .checkout-order-summary a.card-header {
        cursor: unset;
    }

    .checkout-order-summary .collapsing{
        position: relative;
        height: unset !important;
        overflow: hidden;
    }

}

@media (max-width: 576px) {

    .menu {
        background-color: #fff;
    }

    .menu img.logo {
        height: 40px;
    }
    
    .checkout-order-summary.card, .custom-card.card {
        border-radius: 0 !important;
        border: 1px solid #f1f1f1;
    }

}
