@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body, html {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #fff !important;
}

.page-container {
    max-width: 720px;
}

.btn:focus, .btn-close:focus, .form-control:focus {
    box-shadow: none;
}

/* Nav */

.menu {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
}

.menu-container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu h1 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 600;
    margin: 0;
}

.menu h1 a {
    text-decoration: none;
    color: #444;
}

a.navbar-brand {
    color: #444;
    font-weight: 600;
}

a.navbar-brand:hover {
    color: #ee4d2d;
}

ul.top-nav {
    float: right;    
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.top-nav li.nav-item {
    float: left;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    outline: none;
}

ul.top-nav li.nav-item:first-child {
    border-right: 0;
}

a.nav-link {
    color: #ee4d2d;
    font-size: 14px;
    line-height: 18px;
    outline: none;
}

.clock, .map  {
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
}

/* Normal cart */

.cart {
    position: relative;
}

a.nav-link:hover > .cart > .cart-badge {
    background-color: #0d6efd;
}

.cart-badge {
    position: absolute;
    right: -9px;
    top: -9px;
    padding: 0.5em;
    border-radius: 1000px;
    font-size: 10px;
    line-height: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0;
    background: #ee4d2d;
    color: #ffffff;
}

/* Sticky cart */

.sticky-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}

.sticky-cart .card-body {
    padding: 15px;
}

.sticky-cart .btn-primary {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
    font-weight: 600;
    padding: 15px 20px;
}

/* End of Nav */

/* Hero Banner */

.hero-banner {
    position: relative;
}

.hero-banner img {
    height: 300px;
    object-fit: cover;
}

.hero-banner:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0.9;
    transition: all 1s;
    -webkit-transition: all 1s;
    border-radius: 0.25rem !important;
}

.banner-content {
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.banner-content p {
    font-size: 28px;
    line-height: 28px;
    color: white;
}

.banner-content h3 {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

.banner-content h6  {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

/* end of Hero Banner */

/* Featured product */

.featured-category img {
    max-width: 150px;
}

.featured-product .border-light, .featured-category .border-light {
    border-color: #eee !important;
}

.featured-category .bg-light {
    background-color: #f9f9f9 !important;
}

.featured-category .list-group-item + .list-group-item {
    border-top-width: 1px;
}

.featured-category li.list-group-item a {
    display: block;
    appearance: none;
    -webkit-appearance: borderless-attachment;
    -moz-appearance: none;
}

.featured-category li.list-group-item a:hover, .featured-category li.list-group-item:hover {
    background: #ffefec !important;
    border-radius: 0.25rem !important;
}

.featured-product h2, .featured-category h2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 500;
}

.featured-product hr, .featured-category hr {
    width: 40px;
    height: 5px;
    border-radius: 1000px;
    background-color: #ee4d2d;
    opacity: 1;
}

h3.product-title {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
}

p.product-description {
    font-size: 14px;
    line-height: 24px;
    color: #333;
}

p.product-price {
    font-size: 16px;
    line-height: 18px;
    color: #333;
    font-weight: 400;
}

.featured-category h3.product-title {
    font-size: 16px;
    font-weight: 500;
}

/* Footer */

footer {
    font-size: 14px;
    color: #888;
    margin-bottom: 2em;
}

/* Custom modal */

.custom-modal .modal-header.border-light {
    border: 1px solid #eee !important;
}

.custom-modal button.btn-close {
    font-size: 8px;
    color: #12263f
}

.custom-modal button.btn-link {
    font-size: 14px;
    line-height: 14px;
}

.custom-modal .modal-title {
    font-size: .9375rem;
    font-weight: 500;
}

.custom-modal li.list-group-item.border-light {
    border-color: #f1f1f1 !important;
}

.custom-modal .btn-primary {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
    font-weight: 600;
}

.location-list li.list-group-item, .order-summary li.list-group-item {
    border: 0;
    border-bottom: 1px solid #f1f1f1;
}

.location-list li.list-group-item:last-child, .order-summary li.list-group-item:last-child {
    border-bottom: 0;
}

.location-list li.list-group-item:hover {
    background: #ffefec !important;
    border-radius: 0.25rem !important;
}

.location-list h3 {
    font-size: 16px;
}

.order-summary h3 {
    font-size: 14px;
    font-weight: 400;
}

.location-list p {
    font-size: 14px;
}

.order-summary p {
    font-size: 12px;
}

.order-summary p.text-danger {
    color: #ee4d2d !important;
}

.location-list hr, .order-summary hr {
    background-color: #f1f1f1 !important;
}

.location-list .form-check-input:checked {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
}

.location-list .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
}

.order-summary-details {
    background-color: #fff;
}

.order-summary-details span {
    font-size: 14px;
}

/* Product view */

.custom-modal .featured-image img {
    max-height: 250px;
    object-fit: cover;
}

.custom-modal p.product-price {
    font-size: 14px;
}

.custom-modal p.product-description {
    font-size: 14px;
    min-height: 200px;
}

.featured-image button.btn-close {
    position: absolute;
    right: -13px;
    top: -13px;
    background: #fff;
    background-clip: padding-box;
    color: #ee4d2d;
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    font-size: 16px;
    line-height: 14px;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
    border-radius: 1000px;
    z-index: 1;
}

.custom-modal .product-quantity-form {
    width: 50px !important;
    height: 32px !important;
    position: unset !important;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-weight: 400;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    -webkit-appearance: none;
}

.custom-modal .product-quantity-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom-modal .product-quantity-button {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4,0,.6,1);
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 0;
    border-radius: 0;
    background-color: #F8F5F2;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
}

.custom-modal .product-quantity-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e1e1e1;
    color: #fff;
}

.custom-modal .product-quantity-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ee4d2d;
    color: #fff;
}

.custom-modal textarea.form-control {
    font-size: 14px;
    color: #7e7e7e;
    background-color: #F2F5F8;
}

/* Cart */

a.cart-quantity {
    text-decoration: none;
}

.cart-quantity p {
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #0d6efd;
    margin: 0;
}

/* Mobile css */

@media (max-width: 576px) {

    .page-container {
        padding: 0;
    }

    /* Hero banner */

    .hero-banner img {
        height: 200px;
        border-radius: 0 !important;
    }

    .hero-banner:after {
        border-radius: 0 !important;
    }

    .banner-content p {
        font-size: 21px;
        line-height: 21px;
    }

    .banner-content h3, .banner-content h6 {
        font-size: 14px;
        line-height: 14px;
    }

    /* Featured category */

    .featured-category .bg-light {
        background-color: #fff !important
    }

    .featured-category li.list-group-item {
        border-bottom: 0;
    }

    .featured-category li.list-group-item.rounded {
        border-radius: 0 !important;
    }

    .featured-category li.list-group-item:last-child {
        border-bottom: 1px solid;
    }

    .featured-category .product-item {
        padding: 1em;
    }


    .featured-category .product-description {
        font-size: 12px;
        line-height: 18px;
    }

    .featured-category .product-price {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
    }

    .featured-category img {
        max-width: 90px;
    }

    .featured-image button.btn-close {
        padding: 8px;
    }

    footer {
        margin-bottom: 7em;
    }

}