<!DOCTYPE html>
<html>
    <head>
        {{> layouts/head title="Deligram"}}
    </head>

    <body>

        <!-- Nav -->
        {{> layouts/main-menu}}
        <!-- /.Nav -->

        <!-- Content -->
        <div class="container-fluid p-0">

            <!-- Section homepage-banner -->
            <section class="homepage-banner">

                <div class="row">

                    <div class="col-12">
                        <img src="./assets/images/banner-blend.png" class="img-fluid rounded-bottom" width="100%">

                        <div class="banner-content">
                            <h1>Blend Coffee Roasters</h1>
                            <p class="mb-0">Sungai Ramal Luar, Kajang</p>
                            <span>Open 10am - 6pm</span>
                        </div>

                    </div><!-- ./col -->

                </div><!-- ./row -->

            </section>

            <!-- Section featured-product -->
            <section class="featured-product">

                <div class="row">

                    <div class="col-12">

                        <div class="fetured-title">
                            <h2>Popular</h2>
                        </div>

                    </div><!-- ./col-12 -->

                </div><!-- ./row -->

                <div class="row">

                    <div class="col-6 col-md-4 d-flex justify-content-start justify-content-md-center">

                        <div class="card">
                                <img src="./assets/images/product-blend.png">

                            <div class="product-info">
                                <a type="button" class="stretched-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#productModal">
                                    <p class="product-title mb-0">Latte</p>
                                    <span class="product-price">RM7.00</span>
                                </a>
                            </div>

                        </div><!-- ./card -->

                    </div><!-- ./col-6 -->

                    <div class="col-6 col-md-4 d-flex justify-content-start justify-content-md-center">

                        <div class="card">
                                <img src="./assets/images/product-blend.png">

                            <div class="product-info">
                                <a type="button" class="stretched-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#productModalVariants">
                                    <p class="product-title mb-0">Dolce Latte</p>
                                    <span class="product-price">RM8.00</span>
                                </a>
                            </div>

                        </div><!-- ./card -->

                    </div><!-- ./col-6 -->

                    <div class="col-6 col-md-4 d-flex justify-content-start justify-content-md-center">

                        <div class="card">
                                <img src="./assets/images/product-blend.png">

                            <div class="product-info">
                                <a type="button" class="stretched-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#productModal">
                                    <p class="product-title mb-0">Americano</p>
                                    <span class="product-price">RM6.00</span>
                                </a>
                            </div>

                        </div><!-- ./card -->

                    </div><!-- ./col-6 -->

                    <div class="col-6 col-md-4 d-flex justify-content-start justify-content-md-center">

                        <div class="card">
                                <img src="./assets/images/product-blend.png">

                            <div class="product-info">
                                <a type="button" class="stretched-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#productModal">
                                    <p class="product-title mb-0">Ice On The Rock</p>
                                    <span class="product-price">RM5.00</span>
                                </a>
                            </div>

                        </div>

                    </div><!-- ./col-6 -->

                    <div class="col-6 col-md-4 d-flex justify-content-start justify-content-md-center">

                        <div class="card">
                                <img src="./assets/images/product-blend.png">

                            <div class="product-info">
                                <a type="button" class="stretched-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#productModal">
                                    <h2 class="product-title mb-0">Ice On The Rock</h2>
                                    <span class="product-price">RM5.00</span>
                                </a>
                            </div>

                        </div>

                    </div><!-- ./col-6 -->

                    <div class="col-6 col-md-4 d-flex justify-content-start justify-content-md-center">

                        <div class="card">
                                <img src="./assets/images/product-blend.png">

                            <div class="product-info">
                                <a type="button" class="stretched-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#productModal">
                                    <h2 class="product-title mb-0">Ice On The Rock</h2>
                                    <span class="product-price">RM5.00</span>
                                </a>
                            </div>

                        </div>

                    </div><!-- ./col-6 -->

                </div><!-- ./row -->

            </section>

            <!-- Section featured-category -->
            <section class="featured-category" id="categoryFirst">
                <div class="row">
                    <div class="col-12">
                        <div class="featured-title">
                            <h2>Weekly special</h2>
                        </div>
                    </div><!-- ./col-12 -->
                </div><!-- ./row -->
                <ul class="list-group p-0 mb-0">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <button type="button" class="category-button-overlay" data-bs-toggle="modal" data-bs-target="#productModal"></button>
                        <div class="product-details">
                            <p class="product-title">Americano</p>
                            <p class="product-desc">Insert item description here. Insert item description here...</p>
                            <span class="product-price">RM6.00</span>
                        </div>
                        <div class="category-image">
                            <img src="./assets/images/product-blend.png">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <button type="button" class="category-button-overlay" data-bs-toggle="modal" data-bs-target="#productModal"></button>
                        <div class="product-details">
                            <p class="product-title">Americano</p>
                            <p class="product-desc">Insert item description here. Insert item description here...</p>
                            <span class="product-price">RM6.00</span>
                        </div>
                        <div class="category-image">
                            <img src="./assets/images/product-blend.png">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <button type="button" class="category-button-overlay" data-bs-toggle="modal" data-bs-target="#productModal"></button>
                        <div class="product-details">
                            <p class="product-title">Americano</p>
                            <p class="product-desc">Insert item description here. Insert item description here...</p>
                            <span class="product-price">RM6.00</span>
                        </div>
                        <div class="category-image">
                            <img src="./assets/images/product-blend.png">
                        </div>
                    </li>
                </ul>
            </section>

            <!-- Section featured-category -->
            <section class="featured-category" id="categorySecond">

                <div class="row">

                    <div class="col-12">

                        <div class="featured-title">
                            <h2>Beans of the month</h2>
                        </div>

                    </div><!-- ./col-12 -->

                </div><!-- ./row -->

                <ul class="list-group p-0 mb-0">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <button type="button" class="category-button-overlay" data-bs-toggle="modal" data-bs-target="#productModal"></button>

                        <div class="product-details">
                            <p class="product-title">Americano</p>
                            <p class="product-desc">Insert item description here. Insert item description here...</p>
                            <span class="product-price">RM6.00</span>
                        </div>

                        <div class="category-image">
                            <img src="./assets/images/product-blend.png">
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <button type="button" class="category-button-overlay" data-bs-toggle="modal" data-bs-target="#productModal"></button>

                        <div class="product-details">
                            <p class="product-title">Americano</p>
                            <p class="product-desc">Insert item description here. Insert item description here...</p>
                            <span class="product-price">RM6.00</span>
                        </div>

                        <div class="category-image">
                            <img src="./assets/images/product-blend.png">
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <button type="button" class="category-button-overlay" data-bs-toggle="modal" data-bs-target="#productModal"></button>

                        <div class="product-details">
                            <p class="product-title">Americano</p>
                            <p class="product-desc">Insert item description here. Insert item description here...</p>
                            <span class="product-price">RM6.00</span>
                        </div>

                        <div class="category-image">
                            <img src="./assets/images/product-blend.png">
                        </div>

                    </li>
                </ul>

            </section>

            <!-- Cart button section -->
            <div class="order-button-section">
                <button type="button" id="btnAddToCart" class="btn btn-add-to-cart" data-bs-toggle="collapse" data-bs-target="#cartCollapse"  aria-expanded="false" aria-controls="cartCollapse">Cart<span class="total-cart-text"> . </span><span class="total-cart-quantity">2 items</span><span class="total-cart-price">RM14.00</span></button>
                
                <!-- Cart Collapse -->
                <div class="collapse order-content" id="cartCollapse">

                    <div class="container-fluid">

                        <div class="row">

                            <div class="col-12 p-0">
                                <button type="button" class="btn-close close-button float-end" data-bs-target="#cartCollapse" data-bs-toggle="collapse" aria-expanded="true"></button>
                            </div><!-- ./col-12 -->

                            <div class="col-12 order-body">
                                <h2>Your Cart</h2>
                                <ul class="list-group p-0 mb-0">
                                    <li class="list-group-item d-flex align-self-stretch">

                                        <div class="order-quantity">
                                            <span>1x</span>
                                        </div>

                                        <div class="order-details flex-grow-1">
                                            <p class="product-title">Espresso On The Rock 12 Oz</p>
                                            <span class="product-variant d-block">None</span>
                                            <span class="product-variant">One shot</span>
                                            <a class="d-block">Edit</a>
                                        </div>

                                        <div class="order-price">
                                            <span>7.00</span>
                                        </div>

                                    </li>
                                    <li class="list-group-item d-flex align-self-stretch">

                                        <div class="order-quantity">
                                            <span>3x</span>
                                        </div>

                                        <div class="order-details flex-grow-1">
                                            <p class="product-title">Espresso On The Rock 12 Oz</p>
                                            <span class="product-variant d-block">None</span>
                                            <span class="product-variant">One shot</span>
                                            <a class="d-block">Edit</a>
                                        </div>

                                        <div class="order-price">
                                            <span>21.00</span>
                                        </div>

                                    </li>
                                    <li class="list-group-item d-flex align-self-stretch">

                                        <div class="order-quantity">
                                            <span>3x</span>
                                        </div>

                                        <div class="order-details flex-grow-1">
                                            <p class="product-title">Espresso On The Rock 12 Oz</p>
                                            <span class="product-variant d-block">None</span>
                                            <span class="product-variant">One shot</span>
                                            <a class="d-block">Edit</a>
                                        </div>

                                        <div class="order-price">
                                            <span>21.00</span>
                                        </div>

                                    </li>
                                    <li class="list-group-item d-flex align-self-stretch">

                                        <div class="order-quantity">
                                            <span>3x</span>
                                        </div>

                                        <div class="order-details flex-grow-1">
                                            <p class="product-title">Espresso On The Rock 12 Oz</p>
                                            <span class="product-variant d-block">None</span>
                                            <span class="product-variant">One shot</span>
                                            <a class="d-block">Edit</a>
                                        </div>

                                        <div class="order-price">
                                            <span>21.00</span>
                                        </div>

                                    </li>
                                    <li class="list-group-item d-flex align-self-stretch">

                                        <div class="order-quantity">
                                            <span>3x</span>
                                        </div>

                                        <div class="order-details flex-grow-1">
                                            <p class="product-title">Espresso On The Rock 12 Oz</p>
                                            <span class="product-variant d-block">None</span>
                                            <span class="product-variant">One shot</span>
                                            <a class="d-block">Edit</a>
                                        </div>

                                        <div class="order-price">
                                            <span>21.00</span>
                                        </div>

                                    </li>
                                </ul>
                            </div>

                            <div class="order-button p-0">

                                <div class="col-12">
                                    <button type="submit" class="btn text-center">Checkout</button>
                                </div><!-- ./col -->

                            </div>

                        </div><!-- ./row -->

                    </div><!-- ./container -->

                </div>
                <!-- ./Cart Collapse -->

            </div>
            <!-- ./Cart button section -->

        </div><!-- ./container -->

        <!-- Single product view Modal without variants -->
        <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-scrollable" role="document">

                <div class="modal-content">
                    <form>

                        <div class="modal-body p-0">

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-12 p-0">

                                        <div class="modal-banner">
                                            <img src="./assets/images/product-blend.png" class="img-fluid">
                                            <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close"></button>

                                            <div class="price-label">
                                                <span>Price RM7.00</span>
                                            </div>

                                        </div>

                                    </div><!-- ./col-12 -->

                                </div><!-- ./row -->

                                <div class="product-input-field">

                                    <div class="row align-items-center">

                                        <div class="col-7">
                                            <h3>Esspresso On The Rock 12 oz</h3>
                                        </div><!-- ./col-8 -->

                                        <div class="col-5">

                                            <div class="product-quantity-input input-group justify-content-end align-items-center">
                                                <input type="button" id="productMinusQuantity" value="-" class="minus-button border-0">
                                                <input type="text" id="productInputQuantity" name="quantity" value="1" class="quantity-field border-0 text-center">
                                                <input type="button" id="productPlusQuantity" value="+" class="plus-button border-0">
                                            </div>

                                        </div><!-- ./col-4 -->

                                    </div><!-- ./row -->

                                </div>

                                <div class="product-description-modal">

                                    <div class="row">

                                        <div class="col-12">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div><!-- ./col-12 -->

                                    </div><!-- ./row -->

                                </div>
                                <div class="note-modal">

                                    <div class="row">

                                        <div class="col-12">

                                            <div class="input-group">
                                                <span class="input-group-text" id="notesIcon"><i class="notes" data-feather="file-text"></i></span>
                                                <input type="text" class="form-control" placeholder="Note for this item (optional)" aria-label="note" aria-describedby="notesIcon">
                                            </div>

                                        </div><!-- ./col-12 -->

                                    </div><!-- ./row -->

                                </div>

                                <div class="cart-button">

                                    <div class="row text-center">

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-add-to-cart">Add to cart - RM7.00</button>
                                        </div><!-- ./col -->

                                    </div><!-- ./row -->

                                </div>

                            </div><!-- ./container -->

                        </div>

                    </form>
                </div>

            </div>

        </div>
        <!-- ./Single product view Modal without variants -->

        <!-- Single product view Modal with variants -->
        <div class="modal fade" id="productModalVariants" tabindex="-1" aria-labelledby="productModalLabelVariants" aria-hidden="true">

            <div class="modal-dialog modal-dialog-scrollable" role="document">

                <div class="modal-content">
                    <form>

                        <div class="modal-body p-0">

                            <div class="container-fluid">

                                <div class="row">

                                    <div class="col-12 p-0">

                                        <div class="modal-banner">
                                            <img src="./assets/images/product-blend.png" class="img-fluid">
                                            <button type="button" class="btn-close close-button" data-bs-dismiss="modal" aria-label="Close"></button>

                                            <div class="price-label">
                                                <span>Price RM7.00</span>
                                            </div>

                                        </div>

                                    </div><!-- ./col-12 -->

                                </div><!-- ./row -->

                                <div class="product-input-field">

                                    <div class="row align-items-center">

                                        <div class="col-7">
                                            <h3>Esspresso On The Rock 12 oz</h3>
                                        </div><!-- ./col-8 -->

                                        <div class="col-5">

                                            <div class="product-quantity-input input-group justify-content-end align-items-center">
                                                <input type="button" id="productMinusQuantity" value="-" class="minus-button border-0">
                                                <input type="text" id="productInputQuantity" name="quantity" value="1" class="quantity-field border-0 text-center">
                                                <input type="button" id="productPlusQuantity" value="+" class="plus-button border-0">
                                            </div>
                                            
                                        </div><!-- ./col-4 -->

                                    </div><!-- ./row -->

                                </div>

                                <div class="product-description-modal has-variants">

                                    <div class="row">

                                        <div class="col-12">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div><!-- ./col-12 -->

                                    </div><!-- ./row -->

                                </div>

                                <div class="product-variant-modal">

                                    <div class="row">

                                        <div class="col">
                                            <h3>Syrup<span class="required-variant">*</span></h3>
                                        </div><!-- ./col -->

                                        <div class="list-product-variants-options">

                                            <div class="product-variant-option">
                                                <input class="single-variant-selector-radio form-check-input" type="radio" id="option1_variantID_1" name="productVariantsSyrup" checked>
                                                <label class="form-check-label" for="option1_variantID_1">None</label>
                                            </div>

                                            <div class="product-variant-option">
                                                <input class=" single-variant-selector-radio form-check-input" type="radio" id="option1_variantID_2" name="productVariantsSyrup">
                                                <label class="form-check-label" for="option1_variantID_2">Maple syrup</label>
                                                <span class="variant-price">+1.00</span>
                                            </div>

                                        </div>

                                    </div><!-- ./row -->

                                </div>

                                <div class="product-variant-modal">

                                    <div class="row">

                                        <div class="col">
                                            <h3>Shots<span class="required-variant">*</span></h3>
                                        </div><!-- ./col -->

                                        <div class="list-product-variants-options">

                                            <div class="product-variant-option">
                                                <input class="single-variant-selector-radio form-check-input" type="radio" id="option2_variantID_1" checked name="productVariantsShots">
                                                <label class="form-check-label" for="option2_variantID_1">Single shot</label>
                                            </div>

                                            <div class="product-variant-option">
                                                <input class=" single-variant-selector-radio form-check-input" type="radio" id="option2_variantID_2" name="productVariantsShots">
                                                <label class="form-check-label" for="option2_variantID_2">Double shots</label>
                                                <span class="variant-price">+1.00</span>
                                            </div>

                                        </div>

                                    </div><!-- ./row -->

                                </div>

                                <div class="product-variant-modal">

                                    <div class="row">

                                        <div class="col">
                                            <h3>Syrup</h3>
                                        </div><!-- ./col -->

                                        <div class="list-product-variants-options">

                                            <div class="product-variant-option">
                                                <input class="single-variant-selector-select form-check-input" type="checkbox" id="option3_variantID_1">
                                                <label class="form-check-label" for="option3_variantID_1">None</label>
                                            </div>

                                            <div class="product-variant-option">
                                                <input class=" single-variant-selector-select form-check-input" type="checkbox" id="option3_variantID_2" checked>
                                                <label class="form-check-label" for="option3_variantID_2">Maple syrup</label>
                                                <span class="variant-price">+1.00</span>
                                            </div>

                                        </div>

                                    </div><!-- ./row -->

                                </div>

                                <div class="note-modal">

                                    <div class="row">

                                        <div class="col-12">

                                            <div class="input-group">
                                                <span class="input-group-text" id="notesIcon"><i class="notes" data-feather="file-text"></i></span>
                                                <input type="text" class="form-control" placeholder="Note for this item (optional)" aria-label="note" aria-describedby="notesIcon">
                                            </div>

                                        </div><!-- ./col-12 -->

                                    </div><!-- ./row -->

                                </div>

                                <div class="cart-button">

                                    <div class="row text-center">

                                        <div class="col-12">
                                            <button type="button" class="btn">Add to cart - RM7.00</button>
                                        </div><!-- ./col -->

                                    </div><!-- ./row -->

                                </div>

                            </div><!-- ./container -->

                        </div>

                    </form>
                </div>

            </div>

        </div>
        <!-- ./Single product view Modal with variants -->

        <!-- Pickup Time Modal -->
        <div class="modal fade" id="pickupTimeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pickupTimeLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content">

                    <div class="modal-body">

                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-12 delivery-type">
                                    <label for="normalDelivery">
                                        <input class="delivery-type-input" id="normalDelivery" type="radio" name="deliveryType" checked>
                                        <span>Delivery</span>
                                    </label>
                                    <label for="pickupDelivery">
                                        <input class="delivery-type-input" id="pickupDelivery" type="radio" name="deliveryType">
                                        <span>Pickup</span>
                                    </label>
                                </div>

                                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="row">

                                <div class="col-12 text-center">

                                    <div class="picked-window"></div>

                                    <div class="picked-date-time">

                                        <div class="picked-date">
                                            <label for="date1">
                                                <input class="picked-date-input" id="date1" type="radio" name="pickedDate" value="14-01-2022" checked>
                                                <span>Fri, Jan 14</span>
                                            </label>
                                            <label for="date2">
                                                <input class="picked-date-input" id="date2" type="radio" name="pickedDate" value="15-01-2022">
                                                <span>Sat, Jan 15</span>
                                            </label>
                                        </div>
        
                                        <div class="picked-time">
                                            <label for="hour1">
                                                <input class="picked-time-input" id="hour1" type="radio" name="pickedTime" value="now" checked>
                                                <span>Now</span>
                                            </label>
                                            <label for="hour2">
                                                <input class="picked-time-input" id="hour2" type="radio" name="pickedTime" value="13:05">
                                                <span>1:05 pm</span>
                                            </label>
                                            <label for="hour3">
                                                <input class="picked-time-input" id="hour3" type="radio" name="pickedTime" value="13:10">
                                                <span>1:10 pm</span>
                                            </label>
                                            <label for="hour4">
                                                <input class="picked-time-input" id="hour4" type="radio" name="pickedTime" value="13:15">
                                                <span>1:15 pm</span>
                                            </label>
                                            <label for="hour5">
                                                <input class="picked-time-input" id="hour5" type="radio" name="pickedTime" value="13:20">
                                                <span>1:20 pm</span>
                                            </label>
                                            <label for="hour6">
                                                <input class="picked-time-input" id="hour6" type="radio" name="pickedTime" value="13:25">
                                                <span>1:25 pm</span>
                                            </label>
                                        </div>
                                
                                    </div>

                                </div>

                                <div class="col-12">
                                    <button type="button" class="btn btn-picked-date">Apply</button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- ./Pickup Time Modal -->

        <!-- Pickup Location Modal -->
        <div class="modal fade" id="pickupLocationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pickupLocationLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

                <div class="modal-content">

                    <div class="modal-body">

                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-12">
                                    <h2>Choose your nearest outlet</h2>
                                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <label for="outlet1">
                                        <input class="choose-outlet-input" id="outlet1" type="radio" name="chooseOutlet" checked>
                                        <p>Bangi</p>
                                        <p class="text-muted">Sungai ramal, 43000 Kajang</p>
                                    </label>
                                    <label for="outlet2">
                                        <input class="choose-outlet-input" id="outlet2" type="radio" name="chooseOutlet">
                                        <p>Cyberjaya</p>
                                        <p class="text-muted">CBD Perdana 2, 63000 Cyberjaya</p>
                                    </label>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- ./Pickup Location Modal -->
        <!-- ./Content -->

        <!-- Footer -->
        {{> layouts/footer-menu}}
        <!-- ./Footer -->

        <!-- Bootstrap js bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>

        <!-- Custom js -->
        <script defer src="./assets/js/main.bundle.js"></script>
        <script tpye="text/javascript">

            $("#cartCollapse").on("shown.bs.collapse", function() {
                $(".order-button-section").addClass("open");
            });

            $("#cartCollapse").on("hidden.bs.collapse", function() {
                $(".order-button-section").removeClass("open");
            });
    
        </script>

    </body>
    
</html>