<!DOCTYPE html>
<html>
    <head>
        {{> layouts/head title="Deligram"}}
    </head>

    <body>

        <!-- Nav -->
        {{> layouts/main-menu}}
        <!-- /.Nav -->

        <!-- Content -->
        <div class="container-fluid p-0">
            <form>

                <!-- Order summary section -->
                <div class="order-summary">

                    <div class="row">

                        <div class="col-6">
                            <h2>Order summary</h2>
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-end">
                            <a>Add items</a>
                        </div><!-- ./col-6 -->

                    </div><!-- ./row -->

                    <ul class="list-group p-0 mb-0">
                        <li class="list-group-item d-flex align-self-stretch">

                            <div class="order-quantity">
                                <span>1x</span>
                            </div>

                            <div class="order-details flex-grow-1">
                                <p class="product-title">Espresso On The Rock 12 Oz</p>
                                <span class="product-variant d-block">None</span>
                                <span class="product-variant">One shot</span>
                                <a class="d-block">Edit</a>
                            </div>

                            <div class="order-price">
                                <span>7.00</span>
                            </div>

                        </li>
                        <li class="list-group-item d-flex align-self-stretch">

                            <div class="order-quantity">
                                <span>3x</span>
                            </div>

                            <div class="order-details flex-grow-1">
                                <p class="product-title">Espresso On The Rock 12 Oz</p>
                                <span class="product-variant d-block">None</span>
                                <span class="product-variant">One shot</span>
                                <a class="d-block">Edit</a>
                            </div>

                            <div class="order-price">
                                <span>21.00</span>
                            </div>

                        </li>
                    </ul>

                </div><!-- ./Order summary section -->

                <!-- Cart note section -->
                <div class="note-cart">

                    <div class="row">

                        <div class="col-12">

                            <div class="input-group">
                                <span class="input-group-text" id="notesIcon"><i class="notes" data-feather="file-text"></i></span>
                                <input type="text" class="form-control" placeholder="Note for this item (optional)" aria-label="note" aria-describedby="notesIcon">
                            </div>

                        </div><!-- ./col-12 -->

                    </div><!-- ./row -->

                </div><!-- ./Cart note section -->

                <!-- Cart total section -->
                <div class="cart-total-section">

                    <div class="row">

                        <div class="col-6 text-start">
                            Subtotal
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-end">
                            RM28.00
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-start">
                            Delivery fee
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-end">
                            -
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-start">
                            Processing fee
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-end">
                            -
                        </div><!-- ./col-6 -->

                    </div><!-- ./row -->

                </div><!-- ./Cart total section -->

                <!-- Order options section -->
                <div class="cart-order-options">

                    <div class="row">

                        <div class="col-12">
                            <h2>Order options</h2>
                        </div><!-- ./col-12 -->

                    </div><!-- ./row -->

                    <ul class="list-group p-0 mb-0">
                        <li class="list-group-item d-flex justify-content-between align-self-stretch">

                            <div class="order-options-list">
                                <p>Cutlery</p>
                                <span>Request for cutlery (optional)</span>
                            </div>

                            <div class="order-options-input">
                                <input class="single-variant-selector-select form-check-input" type="checkbox" checked>
                            </div>

                        </li>
                        <li class="list-group-item d-flex justify-content-between align-self-stretch">

                            <div class="order-options-list">
                                <p>Payment details</p>
                                <span>Online Banking (M2U, CIMBClicks etc)</span>
                            </div>

                            <div class="order-options-input">
                                <img src="./assets/images/fpx.png">
                            </div>

                        </li>
                    </ul>

                </div><!-- ./Order options section -->

                <!-- Set delivery location section -->
                <div class="set-delivery-section">

                    <div class="row">

                        <div class="col-12">
                            <button type="submit" class="btn text-center btn-set-delivery">Set delivery location</button>
                        </div><!-- ./col -->

                    </div><!-- ./row -->

                </div><!-- ./Set delivery location section -->

            </form>
        </div><!-- ./container-fluid -->

        <!-- ./Content -->

        <!-- Footer -->
        {{> layouts/footer-menu}}
        <!-- ./Footer -->

        <!-- Bootstrap js bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>
        
        <!-- Custom js -->
        <script defer src="./assets/js/main.bundle.js"></script>

    </body>
    
</html>