<!DOCTYPE html>
<html>
    <head>
        {{> layouts/head title="Deligram"}}
    </head>

    <body class="bg-light">
        
        <!-- Nav -->
        <nav class="menu mb-md-3 mb-0 py-3 border-bottom-0">

            <div class="container page-container">

                <div class="row align-items-center">

                    <div class="col-12 text-center">
                        <!-- <h1 class="text-uppercase fs-4 py-3"><a href="/" title="Store description">Blend Coffee Roasters</a></h1> -->
                        <img class="logo" src="https://img.shoppegram.com/themes/CPLiL0VtdT0GmE1zy9dsWCPXshMySx5RZc5Bag5X.png"/>
                    </div>

                </div>

            </div>

        </nav>
        <!-- /.Nav -->

        <!-- Content -->
        <main class="checkout-container">

            <form>

                <div class="row justify-content-center">

                    <div class="col-12 col-md-4 order-1 order-md-0">

                        <section class="custom-card card mb-2 mb-md-0 border-bottom-0 rounded-0 rounded-top">

                            <div class="card-body">

                                <label class="form-label fw-bold">Contact information</label>

                                <input class="form-control mb-2" placeholder="Name"  name="name" type="text">

                                <div class="input-group" id="phoneInput">

                                    <div class="intl-tel-input">

                                        <div class="flag-container">
                                            <div class="selected-flag" title="Malaysia: +60">
                                                <div class="iti-flag my"></div>
                                            </div>
                                        </div>

                                        <input class="form-control" id="intlTelPhone" placeholder="Phone number" name="phone_number" type="tel" autocomplete="off">

                                    </div>

                                </div>

                            </div>

                        </section>

                        <section class="custom-card card mb-2 mb-md-3 border-top-0 rounded-0 rounded-bottom">

                            <div class="card-body pt-3 pt-md-0">

                                <label class="form-label fw-bold">Delivery address</label>

                                <input class="form-control mb-2" placeholder="Address"  name="address" type="text">

                                <div class="row">
                                    <div class="col-6 pe-1">
                                        <input class="form-control" placeholder="Postcode / Zip" name="posscode" type="text">
                                    </div>
                                    <div class="col-6 ps-1">
                                        <input class="form-control" placeholder="City" name="city" type="text">
                                    </div>
                                </div>

                            </div>

                        </section>

                        <section class="custom-card card mb-2 mb-md-3">

                            <div class="card-body">

                                <label class="form-label fw-bold">Delivery rates</label>

                                <div class="card bg-light p-2">
                                    <div class="card-body text-center p-5">
                                        <p class="text-muted mb-2"><i width="18" height="18" data-feather="truck"></i></p>
                                        <p class="text-muted mb-0 small">Insert your delivery address first to calculate your delivery rates.</span>
                                    </div>
                                </div>

                            </div>

                        </section>

                        <section class="custom-card card mb-2 mb-md-3">

                            <div class="card-body">

                                <label class="form-label fw-bold">Delivery rates</label>

                                <div class="card bg-light">
                                    <div class="card-body text-center p-5">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </section>

                        <section class="custom-card card mb-2 mb-md-3">

                            <div class="card-body">

                                <label class="form-label fw-bold">Delivery rates</label>

                                <div class="card border-0 p-0">

                                    <div class="card-body p-0">

                                        <ul class="delivery-rates-list list-group">

                                            <li class="list-group-item p-3">
                                                <label class="d-block" for="deliveryRatesOptions1">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="deliveryRatesOptions" id="deliveryRatesOptions1">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Lalamove<span class="ms-2"><img height="22" class="mb-2" src="./assets/images/courier/lalamove.png" title="Lalamove"/></span></h3>
                                                            
                                                            <p class="small text-muted mb-0">30-35 minutes delivery</p>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <span class="rates-price">RM56.00</span>
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item p-3">
                                                <label class="d-block" for="deliveryRatesOptions2">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="deliveryRatesOptions" id="deliveryRatesOptions2">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Grab Express<span class="ms-2"><img height="22" class="mb-2" src="./assets/images/courier/grab-express.png" title="Grab Express"/></span></h3>
                                                            <p class="small text-muted mb-0">30-35 minutes delivery</p>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <span class="rates-price">RM26.00</span>
                                                        </div>

                                                    </div>
                                                
                                                </label>
                                            </li>

                                            <li class="list-group-item p-3">
                                                <label class="d-block" for="deliveryRatesOptions3">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="deliveryRatesOptions" id="deliveryRatesOptions3">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Bungkusit<span class="ms-2"><img height="22" class="mb-2" src="./assets/images/courier/bungkusit.png" title="Bungkusit"/></span></h3>
                                                            <p class="small text-muted mb-0">30-35 minutes delivery</p>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <span class="rates-price">RM36.00</span>
                                                        </div>

                                                    </div>
                                                
                                                </label>
                                            </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </section>

                        <section class="custom-card card mb-2 mb-md-3">

                            <div class="card-body">

                                <label class="form-label fw-bold">Payment options</label>

                                <div class="card border-0 p-0">

                                    <div class="card-body p-0">

                                        <ul class="payment-options-list list-group">

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions1">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions1">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Maybank2U</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/m2u.png" title="Maybank2U" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions2">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions2">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">CIMB Clicks</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/cimb.png" title="CIMB Clicks" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions3">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions3">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Public Bank</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/public-bank.png" title="Public Bank" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions4">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions4">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">RHB Now</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/rhb.png" title="RHB Now" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions5">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions5">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Ambank</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/ambank.png" title="Ambank" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions6">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions6">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">MyBSN</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/bsn.png" title="MyBSN" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions7">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions7">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Bank Rakyat</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/bank-rakyat.png" title="Bank Rakyat" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions8">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions8">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">UOB</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/uob.png" title="UOB" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions9">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions9">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Affin Bank</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/affin-bank.png" title="Affin Bank" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions10">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions10">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Bank Islam</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/bank-islam.png" title="Bank Islam" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions11">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions11">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">HSBC Online</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/hsbc-bank.png" title="HSBC Online" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions12">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions12">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Standard Chartered Bank</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/standard-chartered.png" title="Standard Chartered Bank" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions13">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions13">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Kuwait Finance House</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/kfh-bank.png" title="Kuwait Finance House" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions14">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions14">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Bank Muamalat</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/bank-muamalat.png" title="Bank Muamalat" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions15">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions15">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">OCBC Online</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/ocbc-bank.png" title="OCBC Online" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions16">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions16">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Alliance Bank</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/alliance-bank.png" title="Alliance Bank" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                            <li class="list-group-item px-3 py-2">
                                                <label class="d-block" for="paymentOptions17">

                                                    <div class="row align-items-center">

                                                        <div class="col-auto ps-0">
                                                            <input class="form-check-input" type="radio" name="paymentOptions" id="paymentOptions17">
                                                        </div>

                                                        <div class="col-7 ps-1">
                                                            <h3 class="mb-0">Hong Leong Bank</h3>
                                                        </div>

                                                        <div class="col-3 ms-auto pe-0 text-end">
                                                            <img src="./assets/images/bank/hong-leong-bank.png" title="Hong Leong Bank" />
                                                        </div>

                                                    </div>

                                                </label>
                                            </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </section>

                    </div>

                    <div class="col-12 col-md-3 order-0 order-md-1">

                        <div class="checkout-order-summary card mb-2 mb-md-0">

                            <a data-bs-toggle="collapse" href="#collapseOrderSummary" class="card-header bg-light border-0">
                                <p class="py-1 mb-0 fs-6 fw-bold">Order summary <span class="order-summary-badge d-none d-md-block float-end">3</span><span class="d-md-none float-end">RM28.00</span></p>

                            </a>

                            <div class="collapse show" id="collapseOrderSummary">

                                <ul class="order-summary list-group mb-0">

                                    <li class="list-group-item p-3">

                                        <div class="row align-items-center">

                                            <div class="col-auto">
                                                <a href="/cart" class="cart-quantity "><p class="mb-0">1x</p></a>
                                            </div>
                                            
                                            <div class="col-6">
                                                <h3 class="mb-0">Product item name</h3>
                                            </div>
                                            
                                            <div class="col-auto ms-auto text-end">
                                                <span class="small">RM7.00</span>
                                            </div>

                                        </div>

                                    </li>

                                    <li class="list-group-item p-3">

                                        <div class="row align-items-center">

                                            <div class="col-auto">
                                                <a href="/cart" class="cart-quantity "><p class="mb-0">2x</p></a>
                                            </div>
                                            
                                            <div class="col-6">
                                                <h3 class="mb-0">Product item name</h3>
                                            </div>
                                            
                                            <div class="col-auto ms-auto text-end">
                                                <span class="small">RM14.00</span>
                                            </div>

                                        </div>

                                    </li>

                                    <li class="list-group-item p-3">

                                        <div class="row align-items-center">

                                            <div class="col-auto">
                                                <a href="/cart" class="cart-quantity "><p class="mb-0">1x</p></a>
                                            </div>
                                            
                                            <div class="col-6">
                                                <h3 class="mb-0">Product item name</h3>
                                            </div>
                                            
                                            <div class="col-auto ms-auto text-end">
                                                <span class="small">RM7.00</span>
                                            </div>

                                        </div>

                                    </li>

                                </ul>

                                <div class="card border-0 mb-2">

                                    <div class="card-body pt-2 pb-0">
                                        <textarea class="form-control" rows="3" placeholder="Note for this delivery (optional)"></textarea>
                                    </div>

                                </div>

                                <ul class="order-summary-details list-group list-group-flush mb-0 py-3">
                                        
                                    <li class="list-group-item border-0 py-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <span>Subtotal</span>
                                            </div>
                                            <div class="col-auto ms-auto">
                                                <span>RM28.00</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item border-0 py-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <span>Delivery fee</span>
                                            </div>
                                            <div class="col-auto ms-auto">
                                                <span class="text-muted">-</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item border-0 py-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <span>Processing fee</span>
                                            </div>
                                            <div class="col-auto ms-auto">
                                                <span class="text-muted">-</span>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>

                        </div>

                        <div class="card mt-3 d-none d-md-block">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <p class="mb-0">Total</p>
                                    </div>
                                    <div class="col-auto ms-auto">
                                        <p class="fw-bold mb-0">RM28.00</p>
                                    </div>
                                </div>
                                <button class="btn btn-cta btn-primary fw-bold mt-3 py-3 w-100">Proceed to payment</button>
                            </div>
                        </div>

                        <!-- Sticky Mobile Pay Now -->
                        <div class="sticky-cart d-lg-none">

                            <div class="card rounded-0 rounded-top">

                                <div class="card-body">
                                    <a href="#" class="btn btn-primary w-100" role="button" data-bs-toggle="modal" data-bs-target="#cartModal">

                                        <div class="row align-items-center">

                                            <div class="col-7 text-start">
                                                <span>Proceed to payment</span>
                                            </div>

                                            <div class="col-auto ms-auto text-end">
                                                <span>RM28.00</span>
                                            </div>

                                        </div>

                                    </a>
                                </div>

                            </div>
                            
                        </div>

                    </div>

                </div>

            </form>

        </main>

        <!-- Footer -->
        <footer class="container page-container">

            <div class="row">

                <div class="col-12 text-center">
                    <p class="mb-0">© 2022 Blend Coffee. All rights reserved.</p>
                    <p class="mb-0">Powered by Deligram</p>
                </div><!-- end col-8 -->

                <div class="col-12 text-center">
                    <!-- ig icon -->
                    <i width="15" data-feather="instagram"></i>
                    <!-- fb icon -->
                    <i width="15" data-feather="facebook"></i>
                </div><!-- end col-4 -->

            </div>

        </footer>
        <!-- ./Footer -->

        <!-- Bootstrap js bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>
        <!-- Custom js -->
        <script defer src="./assets/js/main.bundle.js"></script>
    </body>
</html>