<!DOCTYPE html>
<html>
    <head>
        {{> layouts/head title="Deligram"}}
    </head>

    <body>

        <!-- Nav -->
        {{> layouts/main-menu}}
        <!-- /.Nav -->

        <!-- Content -->
        <div class="container-fluid p-0">
            <form>

                <!-- Contact information section -->
                <div class="contact-information">

                    <div class="row">

                        <div class="col-12">
                            <label class="form-label">Contact information</label>

                            <div class="input-group">
                                <input class="form-control" placeholder="Name"  name="name" type="text">
                            </div>

                            <div class="input-group" id="phoneInput">
                                <input class="form-control" id="intlTelPhone" placeholder="Phone number" name="phone_number" type="tel">
                            </div>

                        </div><!-- ./col-12 -->

                    </div><!-- ./row -->

                </div><!-- ./of Contact information section -->

                <!-- Delivery address section -->
                <div class="delivery-address">

                    <div class="row">

                        <div class="col-12">
                            <label class="form-label">Delivery address</label>

                            <div class="input-group">
                                <input class="form-control" placeholder="Address"  name="address" type="text">
                            </div>

                            <div class="input-group">
                                <input class="form-control" placeholder="Postcode / Zip" name="posscode" type="text">
                                <input class="form-control" placeholder="City" name="city" type="text">
                            </div>

                        </div><!-- ./col-12 -->

                    </div><!-- ./row -->

                </div><!-- ./Delivery address section -->

                <!-- Delivery rates section -->
                <div class="delivery-rates">

                    <div class="row">

                        <div class="col-12">
                            <label class="form-label">Delivery rates</label>

                            <div class="input-group">
                                <input class="single-selector-radio-rates form-check-input" type="radio" id="ratesID_1" name="deliveryRates" checked>
                                <label class="form-check-label" for="ratesID_1">Lalamove<span class="d-block">30-35 minutes delivery</span></label>
                                <span class="rates-price">4.00</span>
                            </div>
                            
                            <div class="input-group">
                                <input class="single-selector-radio-rates form-check-input" type="radio" id="ratesID_2" name="deliveryRates">
                                <label class="form-check-label" for="ratesID_2">Grab Express<span class="d-block">15-30 minutes delivery</span></label>
                                <span class="rates-price">6.00</span>
                            </div>

                        </div><!-- ./col-12 -->

                    </div><!-- ./row -->

                </div><!-- ./Delivery rates section -->

                <!-- Payment options section -->
                <div class="payment-options">

                    <div class="row">

                        <div class="col-12">
                            <label class="form-label">Payment options</label>
                            <ul class="list-group p-0 mb-0">
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_1" name="bankSelection">
                                        <label class="form-check-label" for="bankID_1">Maybank2u</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/m2u.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_2" name="bankSelection" checked>
                                        <label class="form-check-label" for="bankID_2">CIMB Clicks</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/cimb.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_3" name="bankSelection">
                                        <label class="form-check-label" for="bankID_3">Public Bank</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/public-bank.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_4" name="bankSelection">
                                        <label class="form-check-label" for="bankID_4">RHB Now</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/rhb.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_5" name="bankSelection">
                                        <label class="form-check-label" for="bankID_5">Ambank</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/ambank.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_6" name="bankSelection">
                                        <label class="form-check-label" for="bankID_6">MyBSN</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/bsn.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_7" name="bankSelection">
                                        <label class="form-check-label" for="bankID_7">Bank Rakyat</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/bank-rakyat.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_8" name="bankSelection">
                                        <label class="form-check-label" for="bankID_8">UOB</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/uob.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_9" name="bankSelection">
                                        <label class="form-check-label" for="bankID_9">Affin Bank</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/affin-bank.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_10" name="bankSelection">
                                        <label class="form-check-label" for="bankID_10">Bank Islam</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/bank-islam.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_11" name="bankSelection">
                                        <label class="form-check-label" for="bankID_11">HSBC Online</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/hsbc-bank.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_12" name="bankSelection">
                                        <label class="form-check-label" for="bankID_12">Standard Chartered Bank</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/standard-chartered.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_13" name="bankSelection">
                                        <label class="form-check-label" for="bankID_13">Kuwait Finance House</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/kfh-bank.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_14" name="bankSelection">
                                        <label class="form-check-label" for="bankID_14">Bank Muamalat</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/bank-muamalat.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_15" name="bankSelection">
                                        <label class="form-check-label" for="bankID_15">OCBC Online</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/ocbc-bank.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_16" name="bankSelection">
                                        <label class="form-check-label" for="bankID_16">Alliance Bank</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/alliance-bank.png">
                                    </div>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-self-stretch">

                                    <div class="input-group">
                                        <input class="single-selector-radio-bank form-check-input" type="radio" id="bankID_17" name="bankSelection">
                                        <label class="form-check-label" for="bankID_17">Hong Leong Bank</label>
                                    </div>

                                    <div class="payment-options-bank-image">
                                        <img src="./assets/images/bank/hong-leong-bank.png">
                                    </div>
                                    
                                </li>
                            </ul>
                        </div><!-- ./col-12 -->

                    </div><!-- ./row -->

                </div><!-- ./Payment options section -->

                <!-- Checkout total section -->
                <div class="checkout-total-section">

                    <div class="row">

                        <div class="col-6 text-start">
                            Subtotal
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-end">
                            RM28.00
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-start">
                            Delivery fee
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-end">
                            -
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-start">
                            Processing fee
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-end">
                            -
                        </div><!-- ./col-6 -->

                    </div><!-- ./row -->

                </div><!-- ./Cart total section -->

                <!-- Pay now section -->
                <div class="pay-now-section">

                    <div class="row">

                        <div class="col-6">
                            <span class="total-text">Total</span>
                        </div><!-- ./col-6 -->

                        <div class="col-6 text-end">
                            <span class="checkout-total">RM28.00</span>
                        </div><!-- ./col-6 -->

                        <div class="col-12">
                            <button type="submit" class="btn text-center btn-pay-now">Pay now</button>
                        </div><!-- ./col-12 -->

                    </div><!-- ./row -->

                </div><!-- ./Set delivery location section -->

            </form>
        </div><!-- ./container-fluid -->

        <!-- Pickup Time Modal -->
        <div class="modal fade" id="pickupTimeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pickupTimeLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content">

                    <div class="modal-body">

                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-12 delivery-type">
                                    <label for="normalDelivery">
                                        <input class="delivery-type-input" id="normalDelivery" type="radio" name="deliveryType" checked>
                                        <span>Delivery</span>
                                    </label>
                                    <label for="pickupDelivery">
                                        <input class="delivery-type-input" id="pickupDelivery" type="radio" name="deliveryType">
                                        <span>Pickup</span>
                                    </label>
                                </div>

                                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="row">

                                <div class="col-12 text-center">

                                    <div class="picked-window"></div>

                                    <div class="picked-date-time">

                                        <div class="picked-date">
                                            <label for="date1">
                                                <input class="picked-date-input" id="date1" type="radio" name="pickedDate" value="14-01-2022" checked>
                                                <span>Fri, Jan 14</span>
                                            </label>
                                            <label for="date2">
                                                <input class="picked-date-input" id="date2" type="radio" name="pickedDate" value="15-01-2022">
                                                <span>Sat, Jan 15</span>
                                            </label>
                                        </div>
        
                                        <div class="picked-time">
                                            <label for="hour1">
                                                <input class="picked-time-input" id="hour1" type="radio" name="pickedTime" value="now" checked>
                                                <span>Now</span>
                                            </label>
                                            <label for="hour2">
                                                <input class="picked-time-input" id="hour2" type="radio" name="pickedTime" value="13:05">
                                                <span>1:05 pm</span>
                                            </label>
                                            <label for="hour3">
                                                <input class="picked-time-input" id="hour3" type="radio" name="pickedTime" value="13:10">
                                                <span>1:10 pm</span>
                                            </label>
                                            <label for="hour4">
                                                <input class="picked-time-input" id="hour4" type="radio" name="pickedTime" value="13:15">
                                                <span>1:15 pm</span>
                                            </label>
                                            <label for="hour5">
                                                <input class="picked-time-input" id="hour5" type="radio" name="pickedTime" value="13:20">
                                                <span>1:20 pm</span>
                                            </label>
                                            <label for="hour6">
                                                <input class="picked-time-input" id="hour6" type="radio" name="pickedTime" value="13:25">
                                                <span>1:25 pm</span>
                                            </label>
                                        </div>
                                
                                    </div>

                                </div>

                                <div class="col-12">
                                    <button type="button" class="btn btn-picked-date">Apply</button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- ./Pickup Time Modal -->

        <!-- Pickup Location Modal -->
        <div class="modal fade" id="pickupLocationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pickupLocationLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

                <div class="modal-content">

                    <div class="modal-body">

                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-12">
                                    <h2>Choose your nearest outlet</h2>
                                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <label for="outlet1">
                                        <input class="choose-outlet-input" id="outlet1" type="radio" name="chooseOutlet" checked>
                                        <p>Bangi</p>
                                        <p class="text-muted">Sungai ramal, 43000 Kajang</p>
                                    </label>
                                    <label for="outlet2">
                                        <input class="choose-outlet-input" id="outlet2" type="radio" name="chooseOutlet">
                                        <p>Cyberjaya</p>
                                        <p class="text-muted">CBD Perdana 2, 63000 Cyberjaya</p>
                                    </label>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- ./Pickup Location Modal -->
        <!-- ./Content -->

        <!-- Footer -->
        {{> layouts/footer-menu}}
        <!-- ./Footer -->

        <!-- Bootstrap js bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>

        <!-- Custom js -->
        <script defer src="./assets/js/main.bundle.js"></script>

    </body>
    
</html>