<!DOCTYPE html>
<html>
    <head>
        {{> layouts/head title="Deligram"}}
    </head>

    <body>

        <!-- Nav -->
        {{> layouts/main-menu}}
        <!-- /.Nav -->

        <!-- Content -->
        <main class="container page-container">

            <!-- Header -->
            <header class="hero-banner mb-4">

                <div class="banner-content">
                    <p class="mb-md-3 mb-2">Blend Coffee Roasters</p>
                    <h3 class="mb-md-3 mb-2">Sungai Ramal Luar, Kajang</h3>
                    <h6 class="mb-0">Open 10am - 6pm</h6>
                </div>

                <img src="https://shoppegram-deli-dev.ap-south-1.linodeobjects.com/zN7C64oqF1P2jXQQHZSTAiOTb4OQPxJLRkU5QWSf.jpg" class="rounded" width="100%" />

            </header>
            <!-- ./Header -->

            <!-- Featured category -->
            <section class="featured-category mb-3" id="categoryFirst">

                <div class="row">

                    <div class="col-12">

                        <h2 class="ms-3 ms-md-0 mb-3">Weekly Special</h2>
                        <hr class="ms-3 ms-md-0 mb-4">

                    </div>

                </div>

                <ul class="list-group">

                    <!-- Product item -->
                    <li class="list-group-item rounded border-light bg-light p-0 mb-md-2 mb-0">

                        <a type="button" class="text-decoration-none w-100 px-3 px-md-4 py-3 py-md-4" data-bs-toggle="modal" data-bs-target="#productModal">

                            <div class="row align-items-center">

                                <div class="col-8">

                                    <h3 class="product-title mb-1">Product with featured image</h3>
                                    <p class="product-description text-muted mb-md-1 mb-2">Insert item description here. Insert item description here...</p>
                                    <p class="product-price mb-0">RM7.00</p>

                                </div>

                                <div class="col-4 text-end">
                                    <img src="./assets/images/product-blend.png" class="rounded" width="100%" title="Ice Latte Royal Blend"  />
                                </div>

                            </div>

                        </a>

                    </li>
                    <!-- ./Product item -->

                    <!-- Product item -->
                    <li class="list-group-item rounded border-light bg-light p-0 mb-md-2 mb-0">

                        <a type="button" class="text-decoration-none w-100 px-3 px-md-4 py-3 py-md-4" data-bs-toggle="modal" data-bs-target="#productModal2">

                            <div class="row align-items-center">

                                <div class="col-8">

                                    <h3 class="product-title mb-1">Product with featured image & variant</h3>
                                    <p class="product-description text-muted mb-md-1 mb-2">Insert item description here. Insert item description here...</p>
                                    <p class="product-price mb-0">RM7.00</p>

                                </div>

                                <div class="col-4 text-end">
                                    <img src="./assets/images/product-blend.png" class="rounded" width="100%" title="Ice Latte Royal Blend"  />
                                </div>

                            </div>

                        </a>

                    </li>
                    <!-- ./Product item -->

                    <!-- Product item -->
                    <li class="list-group-item rounded border-light bg-light p-0 mb-md-2 mb-0">

                        <a type="button" class="text-decoration-none w-100 px-3 px-md-4 py-3 py-md-5" data-bs-toggle="modal" data-bs-target="#productModal3">

                            <div class="row align-items-center">

                                <div class="col-12">

                                    <h3 class="product-title mb-1">Product without featured image</h3>
                                    <p class="product-description text-muted mb-md-1 mb-2">Insert item description here. Insert item description here...</p>
                                    <p class="product-price mb-0">RM7.00</p>

                                </div>

                            </div>

                        </a>

                    </li>
                    <!-- ./Product item -->

                </ul>

            </section>
            <!-- ./Featured category -->

        </main>
        <!-- ./Content -->

        <!-- Footer -->
        {{> layouts/footer-menu}}
        <!-- ./Footer -->

        <!-- Modal -->

        <!-- Select Location Modal -->
        <div class="custom-modal modal fade" id="pickupLocationModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="pickupLocationLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered">
                
                <div class="modal-content">

                    <form>

                        <div class="modal-header border-light">
                            <h4 class="modal-title">Select your nearest outlet location</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body bg-light p-0">

                            <ul class="list-group location-list">

                                <li class="list-group-item p-0">
                                    <a class="text-decoration-none text-dark" href="?location=kajang">

                                        <div class="row align-items-center p-3">

                                            <div class="col-12">
                                                <h3 class="mb-0">Blend Sungai Ramal</h3>
                                                <p class="small text-muted mb-0">Sungai Ramal Luar, Kajang</p>
                                            </div>

                                        </div>

                                    </a>
                                </li>

                                <li class="list-group-item p-0">
                                    <a class="text-decoration-none text-dark" href="?location=bangi">

                                        <div class="row align-items-center p-3">

                                            <div class="col-12">
                                                <h3 class="mb-0">Blend Bangi</h3>
                                                <p class="small text-muted mb-0">Bandar Baru Bangi</p>
                                            </div>

                                        </div>

                                    </a>
                                </li>

                                <li class="list-group-item p-0">
                                    <a class="text-decoration-none text-dark" href="?location=bangi">

                                        <div class="row align-items-center p-3">

                                            <div class="col-12">
                                                <h3 class="mb-0">Blend Warehouse</h3>
                                                <p class="small text-muted mb-0">Bandar Baru Bangi</p>
                                            </div>

                                        </div>

                                    </a>
                                </li>

                            </ul>

                        </div>

                    </form>

                </div>
            </div>

        </div>
        <!-- ./Select Location Modal -->

        <!-- Cart Modal -->
        <div class="custom-modal modal fade" id="cartModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered">
                
                <div class="modal-content">

                    <form>

                        <div class="modal-header border-light">
                            <h4 class="modal-title">Order summary</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body bg-light p-0">

                            <ul class="order-summary list-group mb-2">

                                <li class="list-group-item p-3">

                                    <div class="row align-items-center">

                                        <div class="col-auto">
                                            <a href="#" class="cart-quantity "><p class="mb-0">1x</p></a>
                                        </div>
                                        
                                        <div class="col-7">
                                            <h3 class="mb-0">Product item name</h3>
                                            <a href="#" class="text-decoration-none text-start"><p class="mb-0">Edit</p></a>
                                        </div>
                                        
                                        <div class="col-auto ms-auto text-end">
                                            <span class="small">7.00</span>
                                            <a href="#" class="text-decoration-none"><p class="text-danger mb-0">Remove</p></a>
                                        </div>

                                    </div>

                                </li>

                                <li class="list-group-item p-3">

                                    <div class="row align-items-center">

                                        <div class="col-auto">
                                            <a href="#" class="cart-quantity "><p class="mb-0">2x</p></a>
                                        </div>
                                        
                                        <div class="col-7">
                                            <h3 class="mb-0">Product item name</h3>
                                            <a href="#" class="text-decoration-none text-start"><p class="mb-0">Edit</p></a>
                                        </div>
                                        
                                        <div class="col-auto ms-auto text-end">
                                            <span class="small">14.00</span>
                                            <a href="#" class="text-decoration-none"><p class="text-danger mb-0">Remove</p></a>
                                        </div>

                                    </div>

                                </li>

                                <li class="list-group-item p-3">

                                    <div class="row align-items-center">

                                        <div class="col-auto">
                                            <a href="#" class="cart-quantity "><p class="mb-0">1x</p></a>
                                        </div>
                                        
                                        <div class="col-7">
                                            <h3 class="mb-0">Product item name</h3>
                                            <a href="#" class="text-decoration-none text-start"><p class="mb-0">Edit</p></a>
                                        </div>
                                        
                                        <div class="col-auto ms-auto text-end">
                                            <span class="small">7.00</span>
                                            <a href="#" class="text-decoration-none"><p class="text-danger mb-0">Remove</p></a>
                                        </div>

                                    </div>

                                </li>

                            </ul>

                            <div class="card border-0 mb-2">

                                <div class="card-body">
                                    <textarea class="form-control" rows="3" placeholder="Note for this delivery (optional)"></textarea>
                                </div>

                            </div>

                            <ul class="order-summary-details list-group list-group-flush mb-2 py-3">
                                    
                                <li class="list-group-item border-0 py-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <span>Subtotal</span>
                                        </div>
                                        <div class="col-auto ms-auto">
                                            <span>RM28.00</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item border-0 py-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <span>Delivery fee</span>
                                        </div>
                                        <div class="col-auto ms-auto">
                                            <span class="text-muted">Calculated next</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item border-0 py-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <span>Processing fee</span>
                                        </div>
                                        <div class="col-auto ms-auto">
                                            <span class="text-muted">Calculated next</span>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                            <div class="card border-0">

                                <div class="card-body">
                                    <button type="button" class="btn btn-primary btn-sm w-100 py-3 px-3">
                                        <div class="row align-items-center">
                                            <div class="col-7 text-start">
                                                <span>Checkout &#183; <span class="fw-normal">3 items</span></span>
                                            </div>
                                            <div class="col-auto ms-auto text-end">
                                                <span>RM28.00</span>
                                            </div>
                                        </div>
                                    </button>
                                    <button type="button" class="btn btn-link w-100 small text-muted text-decoration-none text-center d-lg-none mt-2" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>

                            </div>

                        </div>

                    </form>

                </div>
            </div>

        </div>
        <!-- ./Select Location Modal -->

        <!-- Product View Modal (with featured image) -->
        <div class="custom-modal modal fade" id="productModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered">
                
                <div class="modal-content">

                    <form>

                        <div class="modal-body p-0 bg-light rounded">

                            <div class="featured-image">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"><i class="text-center" width="14" height="14" data-feather="x"></i></button>

                                <img width="100%" class="rounded-top mb-2" src="https://shoppegram-deli-dev.ap-south-1.linodeobjects.com/zN7C64oqF1P2jXQQHZSTAiOTb4OQPxJLRkU5QWSf.jpg" alt="Ice Latte Royal Blend" >
                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">

                                    <div class="row align-items-center">

                                        <div class="col-12 col-md-8">

                                            <h3 class="product-title mb-1 mb-md-0">Ice Latte Royal Blend</h3>
                                            <p class="product-price text-muted mb-2 mb-md-0">RM7.00</p>

                                        </div>

                                        <div class="col-12 col-md-auto ms-auto">

                                            <div class="product-quantity-input">

                                                <button id="product_minus_quantity" class="product-quantity-button" type="button"> - </button>
                                                <input id="product_input_quantity" name="quantity" type="text" value="1" class="form-control product-quantity-button product-quantity-form">
                                                <button id="product_plus_quantity" class="product-quantity-button" type="button"> + </button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">
                                    <p class="product-description text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>

                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">
                                    <textarea class="form-control" rows="3" placeholder="Note for this item (optional)"></textarea>
                                </div>

                            </div>

                            <div class="card border-0">

                                <div class="card-body">
                                    <button type="button" class="btn btn-primary btn-sm w-100 py-3">Add to cart &#183; 7.00</button>
                                    <button type="button" class="btn btn-link w-100 small text-muted text-decoration-none text-center d-lg-none mt-2" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>

                            </div>

                        </div>

                    </form>

                </div>
            </div>
            
        </div>
        <!-- ./Product View Modal (with featured image) -->

        <!-- Product View Modal (with featured image) -->
        <div class="custom-modal modal fade" id="productModal2" data-bs-keyboard="true" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered">
                
                <div class="modal-content">

                    <form>

                        <div class="modal-body p-0 bg-light rounded">

                            <div class="featured-image">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"><i class="text-center" width="14" height="14" data-feather="x"></i></button>

                                <img width="100%" class="rounded-top mb-2" src="https://shoppegram-deli-dev.ap-south-1.linodeobjects.com/zN7C64oqF1P2jXQQHZSTAiOTb4OQPxJLRkU5QWSf.jpg" alt="Ice Latte Royal Blend" >
                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">

                                    <div class="row align-items-center">

                                        <div class="col-12 col-md-8">

                                            <h3 class="product-title mb-1 mb-md-0">Ice Latte Royal Blend</h3>
                                            <p class="product-price text-muted mb-2 mb-md-0">RM7.00</p>

                                        </div>

                                        <div class="col-12 col-md-auto ms-auto">

                                            <div class="product-quantity-input">

                                                <button id="product_minus_quantity" class="product-quantity-button" type="button"> - </button>
                                                <input id="product_input_quantity" name="quantity" type="text" value="1" class="form-control product-quantity-button product-quantity-form">
                                                <button id="product_plus_quantity" class="product-quantity-button" type="button"> + </button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">
                                    <p class="product-description text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>

                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">
                                    <textarea class="form-control" rows="3" placeholder="Note for this item (optional)"></textarea>
                                </div>

                            </div>

                            <div class="card border-0">

                                <div class="card-body">
                                    <button type="button" class="btn btn-primary btn-sm w-100 py-3">Add to cart &#183; 7.00</button>
                                    <button type="button" class="btn btn-link w-100 small text-muted text-decoration-none text-center d-lg-none mt-2" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>

                            </div>

                        </div>

                    </form>

                </div>
            </div>
            
        </div>
        <!-- ./Product View Modal (with featured image) -->

        <!-- Product View Modal (without featured image) -->
        <div class="custom-modal modal fade" id="productModal3" data-bs-keyboard="true" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered">
                
                <div class="modal-content">

                    <form>

                        <div class="modal-body p-0 bg-light rounded">

                            <div class="featured-image">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"><i class="text-center" width="14" height="14" data-feather="x"></i></button>
                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">

                                    <div class="row align-items-center">

                                        <div class="col-12 col-md-8">

                                            <h3 class="product-title mb-1 mb-md-0">Ice Latte Royal Blend</h3>
                                            <p class="product-price text-muted mb-2 mb-md-0">RM7.00</p>

                                        </div>

                                        <div class="col-12 col-md-auto ms-auto">

                                            <div class="product-quantity-input">

                                                <button id="product_minus_quantity" class="product-quantity-button" type="button"> - </button>
                                                <input id="product_input_quantity" name="quantity" type="text" value="1" class="form-control product-quantity-button product-quantity-form">
                                                <button id="product_plus_quantity" class="product-quantity-button" type="button"> + </button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">
                                    <p class="product-description text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>

                            </div>

                            <div class="card border-0 mb-2">

                                <div class="card-body">
                                    <textarea class="form-control" rows="3" placeholder="Note for this item (optional)"></textarea>
                                </div>

                            </div>

                            <div class="card border-0">

                                <div class="card-body">
                                    <button type="button" class="btn btn-primary btn-sm w-100 py-3">Add to cart &#183; 7.00</button>
                                    <button type="button" class="btn btn-link w-100 small text-muted text-decoration-none text-center d-lg-none mt-2" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>

                            </div>

                        </div>

                    </form>

                </div>
            </div>
            
        </div>
        <!-- ./Product View Modal (without featured image) -->

        <!-- Bootstrap js bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>

        <!-- Custom js -->
        <script defer src="./assets/js/main.bundle.js"></script>

    </body>

</html>