<!DOCTYPE html>
<html>
    <head>
        {{> layouts/head title="Deligram"}}
    </head>

    <body>
        
        <!-- Nav -->
        {{> layouts/main-menu}}
        <!-- /.Nav -->

        <!-- Content -->
        <div class="container-fluid p-0">
            <section class="thank-you">

                <div class="row text-center">

                    <div class="col-12">
                        <img src="./assets/images/shipping.png" class="mx-auto d-block">
                    </div><!-- ./col-12 -->

                    <div class="col-12">
                        <h2>Your order is confirmed!</h2>
                    </div><!-- ./col-12 -->

                    <div class="col-12">
                        <p>We'll process your order immediately, please check your email for any updates</p>
                    </div><!-- ./col-12 -->

                    <div class="col-12">
                        <a href="#" class="btn btn-lg btn-success">Check order status</a>
                    </div><!-- ./col-12 -->

                </div><!-- ./row -->

            </section>
        </div><!-- ./container-fluid -->

        <!-- Pickup Time Modal -->
        <div class="modal fade" id="pickupTimeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pickupTimeLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content">

                    <div class="modal-body">

                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-12 delivery-type">
                                    <label for="normalDelivery">
                                        <input class="delivery-type-input" id="normalDelivery" type="radio" name="deliveryType" checked>
                                        <span>Delivery</span>
                                    </label>
                                    <label for="pickupDelivery">
                                        <input class="delivery-type-input" id="pickupDelivery" type="radio" name="deliveryType">
                                        <span>Pickup</span>
                                    </label>
                                </div>

                                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="row">

                                <div class="col-12 text-center">

                                    <div class="picked-window"></div>

                                    <div class="picked-date-time">

                                        <div class="picked-date">
                                            <label for="date1">
                                                <input class="picked-date-input" id="date1" type="radio" name="pickedDate" value="14-01-2022" checked>
                                                <span>Fri, Jan 14</span>
                                            </label>
                                            <label for="date2">
                                                <input class="picked-date-input" id="date2" type="radio" name="pickedDate" value="15-01-2022">
                                                <span>Sat, Jan 15</span>
                                            </label>
                                        </div>
        
                                        <div class="picked-time">
                                            <label for="hour1">
                                                <input class="picked-time-input" id="hour1" type="radio" name="pickedTime" value="now" checked>
                                                <span>Now</span>
                                            </label>
                                            <label for="hour2">
                                                <input class="picked-time-input" id="hour2" type="radio" name="pickedTime" value="13:05">
                                                <span>1:05 pm</span>
                                            </label>
                                            <label for="hour3">
                                                <input class="picked-time-input" id="hour3" type="radio" name="pickedTime" value="13:10">
                                                <span>1:10 pm</span>
                                            </label>
                                            <label for="hour4">
                                                <input class="picked-time-input" id="hour4" type="radio" name="pickedTime" value="13:15">
                                                <span>1:15 pm</span>
                                            </label>
                                            <label for="hour5">
                                                <input class="picked-time-input" id="hour5" type="radio" name="pickedTime" value="13:20">
                                                <span>1:20 pm</span>
                                            </label>
                                            <label for="hour6">
                                                <input class="picked-time-input" id="hour6" type="radio" name="pickedTime" value="13:25">
                                                <span>1:25 pm</span>
                                            </label>
                                        </div>
                                
                                    </div>

                                </div>

                                <div class="col-12">
                                    <button type="button" class="btn btn-picked-date">Apply</button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- ./Pickup Time Modal -->

        <!-- Pickup Location Modal -->
        <div class="modal fade" id="pickupLocationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pickupLocationLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

                <div class="modal-content">

                    <div class="modal-body">

                        <div class="container-fluid">

                            <div class="row">

                                <div class="col-12">
                                    <h2>Choose your nearest outlet</h2>
                                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <label for="outlet1">
                                        <input class="choose-outlet-input" id="outlet1" type="radio" name="chooseOutlet" checked>
                                        <p>Bangi</p>
                                        <p class="text-muted">Sungai ramal, 43000 Kajang</p>
                                    </label>
                                    <label for="outlet2">
                                        <input class="choose-outlet-input" id="outlet2" type="radio" name="chooseOutlet">
                                        <p>Cyberjaya</p>
                                        <p class="text-muted">CBD Perdana 2, 63000 Cyberjaya</p>
                                    </label>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- ./Pickup Location Modal -->
        <!-- ./Content -->

        <!-- Footer -->
        {{> layouts/footer-menu}}
        <!-- ./Footer -->

        <!-- Bootstrap js bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>
        
        <!-- Custom js -->
        <script defer src="./assets/js/main.bundle.js"></script>

    </body>

</html>