<footer class="container page-container">

    <div class="row">

        <div class="col-12 text-center">
            <p class="mb-0">© 2022 Blend Coffee. All rights reserved.</p>
            <p class="mb-0">Powered by Deligram</p>
        </div><!-- end col-8 -->

        <div class="col-12 text-center">
            <!-- ig icon -->
            <i width="15" data-feather="instagram"></i>
            <!-- fb icon -->
            <i width="15" data-feather="facebook"></i>
        </div><!-- end col-4 -->

    </div>

</footer>