<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie-edge">
<title>{{title}}</title>

<!-- Bootstrap css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css"/>

<!-- International Telephone Input css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/css/intlTelInput.css" rel="stylesheet" />
<!-- Feather icons -->
<script src="https://unpkg.com/feather-icons"></script>

<!-- Main css -->
<link href="./assets/css/main.bundle.css" rel="stylesheet">