<nav class="menu mb-md-3 mb-0">

    <div class="container page-container">

        <div class="row align-items-center">

            <div class="col-9 col-md-6 order-md-0 order-0 ps-md-2 ps-4 text-md-start">
                <h1 class="text-uppercase py-3"><a href="/" title="Store description">Blend Coffee Roasters</a></h1>
            </div>

            <div class="col-auto col-md-6 order-1 ms-auto">

                <ul class="top-nav align-items-center">

                    <li class="nav-item">
                        <a class="nav-link" role="button" data-bs-toggle="modal" data-bs-target="#pickupLocationModal">
                           <span class="d-none d-md-block"><i class="map me-2" data-feather="map"></i>Location</span>
                           <span class="d-md-none"><i class="map" data-feather="map"></i></span>
                        </a>
                    </li>

                    <li class="nav-item d-none d-md-block">

                        <!-- Cart disabled -->
                        <!-- <a class="nav-link disabled" role="button" data-bs-toggle="modal" data-bs-target="#cartModal">
                            <div class="cart">
                                <span><i width="18px" height="18px" data-feather="shopping-bag"></i></span>
                            </div>
                        </a> -->
                        <!-- ./Cart disabled -->

                        <a class="nav-link" role="button" data-bs-toggle="modal" data-bs-target="#cartModal">
                            <div class="cart">
                                <span><i width="18px" height="18px" data-feather="shopping-bag"></i></span>
                                <span class="cart-badge">3</span>
                                <!-- <span class="cart-badge">9+</span> -->
                            </div>
                        </a>
                        <!-- ./Cart with items -->
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Sticky Mobile Cart -->
    <div class="sticky-cart d-lg-none">

        <div class="card rounded-0 rounded-top">

            <div class="card-body">
                <a href="#" class="btn btn-primary w-100" role="button" data-bs-toggle="modal" data-bs-target="#cartModal">

                    <div class="row align-items-center">

                        <div class="col-7 text-start">
                            <span class="small">Cart &#183; <span class="fw-normal">1 item</span></span>
                        </div>

                        <div class="col-auto ms-auto text-end">
                            <span class="small">8.00</span>
                        </div>

                    </div>

                </a>
            </div>

        </div>
        
    </div>

</nav>